Repository Team-Snacks/frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: 프론트엔드, 백엔드, 테스트, CI/CD, 문서화

feat: 공통 컴포넌트 만들기 (#53)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/common/common.stories.tsx
  frontend/src/components/common/hello.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/logo.tsx
  frontend/src/hello.tsx
  frontend/src/main.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: 프론트엔드, 테스트

feat: 로그인 컴포넌트 (#54)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/assets/GoogleIcon.tsx
  frontend/src/common.d.ts
  frontend/src/components/common/Logo.stories.tsx
  frontend/src/components/common/common.stories.tsx
  frontend/src/components/common/hello.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/logo.tsx
  frontend/src/components/login/CredentialInput.stories.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/login/Register.stories.tsx
  frontend/src/components/login/index.ts
Labels: 프론트엔드, 테스트

feat: 메인화면,스토어구현 (#55)
  frontend/src/App.tsx
  frontend/src/atoms.tsx
  frontend/src/common.d.ts
  frontend/src/components/users/Navigation.tsx
  frontend/src/components/users/grid.tsx
  frontend/src/components/users/store.tsx
  frontend/src/components/users/users.tsx
  frontend/src/components/widgets/Weather.tsx
  frontend/src/components/widgets/Widget.tsx
Labels: 프론트엔드

fix: ladle에서 `CredentialInput`이 튕기는 문제 해결 (#56)
  frontend/src/components/login/CredentialInput.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/login/Register.stories.tsx
  frontend/src/components/login/index.ts
Labels: 프론트엔드, 테스트

fix: ladle에서 절대경로를 인식 못하는 문제 해결 (#57)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/Atoms.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/Store.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/index.ts
  frontend/src/components/users/navi.stories.tsx
  frontend/vite.config.ts
Labels: 프론트엔드, 테스트

feat: 간단한 첫페이지 (#60)
  frontend/src/assets/example.png
  frontend/src/assets/snacks-hands.png
  frontend/src/components/front/FrontPage.stories.tsx
  frontend/src/components/login/Login.stories.tsx
  frontend/src/components/login/Register.stories.tsx
Labels: 프론트엔드, 테스트

test: 메인화면 및 위젯 스토리 추가 (#58)
  frontend/src/Dummy.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/navi.stories.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/index.ts
  frontend/src/components/widgets/widgets.stories.tsx
Labels: 프론트엔드, 테스트

chore: CODEOWNERS 추가 (#61)
  .github/CODEOWNERS
Labels: CI/CD

chore: 필요없는 .npmrc 설정 제거 (#62)
  frontend/.npmrc
Labels: 프론트엔드

feat: 빈공간,swap이동구현 (#66)
  frontend/src/Dummy.tsx
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/Weather.tsx
  frontend/src/components/widgets/Widget.tsx
  frontend/src/components/widgets/widgets.stories.tsx
Labels: 프론트엔드, 테스트

build: vitest 추가 (#67)
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: 프론트엔드

fix: 인자명 widgets로 변경 (#68)
  frontend/src/components/users/users.stories.tsx
Labels: 프론트엔드, 테스트

test: 그리드 테스트 추가 (#69)
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드, 테스트

refactor: 그리드 정리 및 도우미 함수 추가 (#70)
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
  frontend/src/utils.test.ts
  frontend/src/utils.ts
Labels: 프론트엔드, 테스트

refactor: 그리드 테스트 정리 (#71)
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
  frontend/src/components/users/Users.tsx
  frontend/src/components/users/users.stories.tsx
  frontend/src/components/widgets/widgets.stories.tsx
  frontend/src/dummy.ts
  frontend/src/utils.test.ts
  frontend/src/utils.ts
Labels: 프론트엔드, 테스트

test: vitest 템플릿 리터럴 문법으로 정리 (#76)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/utils.test.ts
Labels: 프론트엔드, 테스트

feat: Vec2, Pos, Size 클래스 추가 (#78)
  frontend/src/vec2.test.ts
  frontend/src/vec2.ts
Labels: 프론트엔드, 테스트

chore: 이슈 노션 링크 추가 (#79)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/ci.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/improve.yml
Labels: CI/CD

ci: 프론트엔드 테스트 CI 추가 (#80)
  .github/workflows/test-frontend.yaml
Labels: CI/CD

ci: 프론트엔드 테스트 `cwd`를 `./frontend`로 변경 (#82)
  .github/workflows/test-frontend.yaml
Labels: CI/CD

refactor: Size, Pos를 사용하여 위젯 코드 정리 (#84)
  frontend/src/common.d.ts
  frontend/src/components/users/Grid.test.tsx
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
  frontend/src/components/widgets/Widget.tsx
  frontend/src/dummy.ts
  frontend/src/vec2.test.ts
  frontend/src/vec2.ts
Labels: 프론트엔드, 테스트

feat: push동작 관련 함수 추가
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

feat: push기능 동작 1차 완성(버그 미해결)
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

test: pr가능한 지 테스트
  frontend/testfile
Labels: 프론트엔드

style: tmp변수명 수정
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

fix: 겹치거나 그리드범위 바깥으로 나가는 버그 수정
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

style: 리뷰 수정사항 반영
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

feat: 그리드 push 구현 (#3)
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 프론트엔드

.github/labeler.yml:

프론트엔드:
  - frontend/**

백엔드:
  - backend/**

테스트:
  - '**/test/**'
  - '**/*.stories.*'
  - '**/*.test.*'
  - '**/*.spec.*'

CI/CD:
  - .github/**

문서화:
  - doc/**
