Repository Team-Snacks/frontend, pull requests merged in 2022-11, with the labels that each got.

#3 feat: 그리드 push 구현
  frontend/src/components/users/Grid.tsx
  frontend/src/components/users/GridTools.ts
Labels: 기능 추가, 프론트엔드

#4 chore: `frontend/` 디렉터리 들어내기
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/ci.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/improve.yml
  .github/ISSUE_TEMPLATE/todo.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/test-frontend.yaml
  .gitignore
  .prettierrc.yml
  index.html
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.tsx
  src/Atoms.tsx
  src/assets/GoogleIcon.tsx
  src/assets/example.png
  src/assets/snacks-hands.png
  src/common.d.ts
  src/components/common/Logo.stories.tsx
  src/components/common/index.ts
  src/components/front/FrontPage.stories.tsx
  src/components/login/CredentialInput.tsx
  src/components/login/Login.stories.tsx
  src/components/login/Register.stories.tsx
  src/components/login/index.ts
  src/components/users/Grid.test.tsx
  src/components/users/Grid.tsx
  src/components/users/GridTools.ts
  src/components/users/Navigation.tsx
  src/components/users/Store.tsx
  src/components/users/Users.tsx
  src/components/users/index.ts
  src/components/users/users.stories.tsx
  src/components/widgets/Weather.tsx
  src/components/widgets/Widget.tsx
  src/components/widgets/index.ts
  src/components/widgets/widgets.stories.tsx
  src/dummy.ts
  src/main.tsx
  src/utils.test.ts
  src/utils.ts
  src/vec2.test.ts
  src/vec2.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: CI/CD, 테스트

#9 feat: 네비게이션추가구현
  src/assets/icon.png
  src/assets/shop.png
  src/assets/user.png
  src/components/common/Logo.stories.tsx
  src/components/users/Navigation.tsx
Labels: 테스트, 컴포넌트

#11 feat: 스토어추가구현
  src/assets/arrow.png
  src/common.d.ts
  src/components/users/Store.tsx
  src/components/users/StoreWidget.tsx
  src/components/users/users.stories.tsx
  src/dummy.ts
Labels: 테스트, 컴포넌트

#12 refactor: 함수형 `Vec2`로 변경
  package.json
  pnpm-lock.yaml
  src/common.d.ts
  src/components/users/Grid.test.tsx
  src/components/users/Grid.tsx
  src/components/users/GridTools.ts
  src/components/widgets/Widget.tsx
  src/vec2.test.ts
  src/vec2.ts
  src/vec2/compare.ts
  src/vec2/index.ts
  src/vec2/operator.ts
  src/vec2/vec2.test.ts
  src/vec2/vec2.ts
Labels: 테스트, 컴포넌트

#14 chore: 이슈 폼 문구 수정
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/improve.yml
Labels: CI/CD

#21 fix: 그리드 드래그가 되지 않음
  package.json
  pnpm-lock.yaml
  src/vec2/compare.test.ts
  src/vec2/compare.ts
  src/vec2/vec2.test.ts
Labels: 테스트

#23 fix: 그리드 push 동작이 되지 않음
  src/components/users/GridTools.ts
Labels: 컴포넌트
