Repository Team-Snacks/frontend, pull requests merged in 2022-12, with the labels that each got.

#19 격자 관련 함수 이름 및 구조 변경
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/common.d.ts
  src/components/users/Grid.test.tsx
  src/components/users/Grid.tsx
  src/components/users/GridTools.ts
  src/components/widgets/Weather.tsx
  src/components/widgets/Widget.tsx
  src/components/widgets/widgets.stories.tsx
  src/vec2/operator.ts
Labels: 테스트, 컴포넌트

#25 feat: 위젯추가삭제구현
  src/Atoms.tsx
  src/assets/remove.png
  src/components/users/Grid.tsx
  src/components/users/Store.tsx
  src/components/users/StoreWidget.tsx
  src/components/widgets/Weather.tsx
  src/components/widgets/Widget.tsx
Labels: 컴포넌트

#28 chore: 이슈 폼 체크박스 수정
  .github/ISSUE_TEMPLATE/feature.yml
Labels: CI/CD

#30 ci: PR 및 커밋 규칙 강제하기
  .github/commitlint.rules.cjs
  .github/workflows/conventional.yml
Labels: CI/CD

#31 fix: 위젯 삭제 버튼 클릭 버그
  src/components/widgets/Widget.tsx
Labels: 버그, 컴포넌트

#36 chore: 모든 파일 변화에 대해 리뷰
  .github/CODEOWNERS
Labels: CI/CD

#40 fix: 이동버그수정
  src/components/users/Grid.test.tsx
  src/components/users/Grid.tsx
  src/components/users/GridTools.ts
  src/components/users/Users.tsx
  src/components/users/users.stories.tsx
  src/dummy.ts
Labels: 테스트, 버그, 코드 개선, 컴포넌트

#43 style: 위젯 이동 애니메이션효과 추가
  src/components/users/Grid.tsx
  src/components/widgets/Widget.tsx
  src/components/widgets/widgets.stories.tsx
Labels: 테스트, 컴포넌트

#42 test: ladle 내에서 로그인 라우팅
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/index.ts
  src/components/login/Auth.stories.tsx
  src/components/login/Login.stories.tsx
  src/components/login/Login.tsx
  src/components/login/Register.tsx
  src/routes/auth/authRoute.ts
  src/routes/auth/index.ts
  src/routes/auth/loginRoute.tsx
  src/routes/auth/registerRoute.tsx
  src/routes/index.ts
  src/routes/rootRoute.ts
Labels: 테스트, 컴포넌트

#45 feat: swaggerhub 연결
  package.json
  pnpm-lock.yaml
  src/components/login/index.ts
  src/components/users/Grid.tsx
  src/components/users/Store.tsx
  src/components/widgets/Widget.tsx
Labels: 기능 추가, 컴포넌트

#50 feat: 페이지 라우팅
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/common/LinkButton.tsx
  src/components/common/index.ts
  src/components/front/FrontPage.stories.tsx
  src/components/front/FrontPage.tsx
  src/components/front/index.ts
  src/components/login/Auth.stories.tsx
  src/components/login/Login.tsx
  src/components/login/Register.tsx
  src/components/users/Navigation.tsx
  src/routes.tsx
Labels: 테스트, 컴포넌트

#54 feat: 위젯 디자인 개선
  src/components/front/FrontPage.tsx
  src/components/users/Navigation.tsx
  src/components/widgets/Widget.tsx
Labels: 컴포넌트

#56 feat: Jwt 토큰을 통한 로그인
  src/Atoms.tsx
  src/atoms.tsx
  src/common.d.ts
  src/components/login/CredentialInput.tsx
  src/components/login/Login.tsx
  src/components/login/Register.tsx
  src/components/users/Grid.tsx
  src/components/users/Navigation.tsx
  src/components/users/Store.tsx
  src/components/users/StoreWidget.tsx
  src/components/widgets/Widget.tsx
  src/vite-env.d.ts
Labels: 컴포넌트

#63 feat: 메모장 위젯(포스트잇)
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/common.d.ts
  src/common.keys.ts
  src/components/widgets/Memo.tsx
  src/components/widgets/Weather.tsx
  src/components/widgets/Widget.tsx
  src/components/widgets/widgets.stories.tsx
  src/dummy.ts
Labels: 테스트, 컴포넌트

#67 refactor: api 변경 적용
  src/atoms.tsx
  src/common.d.ts
  src/components/users/Grid.test.tsx
  src/components/users/Grid.tsx
  src/components/users/GridTools.ts
  src/components/users/Store.tsx
  src/components/widgets/Widget.tsx
  src/dummy.ts
Labels: 테스트, 컴포넌트

#69 feat: 타이머 위젯
  package.json
  pnpm-lock.yaml
  src/components/widgets/Timer.tsx
  src/components/widgets/widgets.stories.tsx
Labels: 테스트, 컴포넌트

#70 fix: `axios` 요청에 Jwt 토큰 포함
  src/atoms.tsx
  src/components/login/Login.tsx
  src/components/login/Register.tsx
  src/components/users/Grid.tsx
  src/components/users/Store.tsx
  src/components/widgets/Widget.tsx
Labels: 컴포넌트

#71 fix: grid 이벤트 버그 수정
  package.json
  pnpm-lock.yaml
  src/atoms.tsx
  src/components/users/Grid.tsx
  src/components/users/Store.tsx
  src/components/widgets/Ascii/Ascii.tsx
  src/components/widgets/Memo.tsx
Labels: 컴포넌트

#73 feat: 프론트 백엔드 연결
  src/components/login/Login.tsx
  src/components/login/Register.tsx
  src/components/users/Grid.tsx
  src/components/users/Store.tsx
  src/components/users/Users.tsx
  src/components/widgets/Widget.tsx
Labels: 컴포넌트

#75 fix: 타이머 위젯이 제대로 렌더링 안 됨
  pnpm-lock.yaml
  src/components/users/Grid.tsx
  src/components/widgets/Ascii/Ascii.tsx
  src/components/widgets/Timer.tsx
  src/components/widgets/Widget.tsx
Labels: 컴포넌트

#76 fix: css 버그 수정 및 추가
  src/components/users/Grid.tsx
  src/components/users/Navigation.tsx
  src/components/widgets/Ascii/Ascii.tsx
  src/components/widgets/Memo.tsx
  src/components/widgets/Timer.tsx
  src/dummy.ts
Labels: 컴포넌트
